@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
}

    <div class="contact-layout">
        
		<!-- Jumbotron, w title -->
		<div class="wrapper">
		<div class="jumbotron-map ">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2599.1900023987155!2d7.271752951181559!3d49.34855227392096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4795c4fac39ce33d%3A0x1bb3e2358d1f3761!2sAuguststra%C3%9Fe%2040%2C%2066450%20Bexbach!5e0!3m2!1sfr!2sde!4v1679867154878!5m2!1sfr!2sde" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
		</div>

		<!-- Main container -->

        <div class="contact-container">
            	<!-- Contact details -->
		<div class="contact-details">
			<h3>Nehmen Sie Kontakt mit uns auf!</h3>
			<p>Sie können sich jederzeit mit der Blumenfee in Verbindung setzen, indem Sie uns anrufen oder uns eine E-Mail schicken. <br /> 
				<br /> 
				<strong>Besichtigungs- Beratungstermine nur nach Absprache.</strong>
				<br />
				<strong>Kostenvoranschlag erst nach Beratungstermin.</strong></p>

			<p>
				Auguststraße 40<br />
				D-66450 Bexbach<br />
				Deutschland</p>
			<p><span class="font-weight-bold">Nummer:</span> +49 1715 705 305</p>
			<p><span class="font-weight-bold">Email:</span> <a href="mailto:info@die-blumenfee.de">info@die-blumenfee.de</a></p>
		</div>
		
			<div class="contact-section">
					
			        @Model.Value("bodyText")
				
			</div>
		</div>
    </div>
		
