@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Galerie>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
}


<!DOCTYPE HTML>
		
	<!DOCTYPE HTML>

		<!-- Grey Banner -->
		<div class="container-services light-pink-bg">
		    <div class="container-service">
		        
				<div class="row section">
					<div class="col-md-6 col-text">
						<h3 >Unser Beruf: Ein breites Spektrum an Dekorationsdienstleistungen für eine persönliche und maßgeschneiderte Veranstaltung</h3>
						<br /> <p class="block-text">Mit 10 Jahren Erfahrung ist Blumenfee im Saarland zu Hause und begleitet Brautpaare bei der Dekoration ihrer Hochzeit, dem Ereignis ihres Lebens...<br /><br />

Die Event-Dekoration mit einem großen D!<br /><br />

Zunächst geht es darum, Sie zu beraten und die Dekoration Ihrer Hochzeit an den Ort, den Rhythmus der Hochzeit und natürlich an das Budget anzupassen.<br /><br />

Im Laufe der Jahre haben wir uns dafür entschieden, verschiedene Leistungen zu integrieren, damit unsere Kunden von A bis Z von einem einzigen Anbieter betreut werden. Blumendesign (Brautstrauß, Armbänder, Kränze, Autodekoration), Dekoration der Zeremonie in einem Gotteshaus oder der laizistischen Zeremonie, Tisch- und Buffetdekoration, Möbel und Loungebereiche, Fotobereiche oder Photocall und maßgeschneiderte Kreation aller großen Hochzeitsklassiker (Tischplan, Urne, Gästebuch, Richtungsschilder...). Zu einer Hochzeit gehört auch das Familientreffen am nächsten Tag, das oft in Form eines Brunchs stattfindet.
<br /><br />
Wir haben auch Angebote, um Sie am großen Tag zu begleiten, mit einem Angebot für Koordination und Wedding planning. Wir führen Sie durch den Ort, den Sie als "Wedding-Destination" wählen.
<br /><br />
Wir kümmern uns um alles, was Ihnen das Leben leichter macht! <br /><br /><a class="more-info" href="/galerie">ZUR GALERIE</a></p>

			
					</div>
					<div class="row col-md-6 col-text">
						<div class="grid-container">
  <div class="grid-item" style="background-image: url('/images/41.jpg')"><div class="overlay">Ich heirate</div></div>
  <div class="grid-item " style="background-image: url('/images/20.jpg')"><img src="/images/20.jpg" class="img-fluid-top" ><div class="overlay">Ich lasse mich inspirieren</div></div>
  <div class="grid-item " style="background-image: url('/images/22.jpg')"><img src="/images/22.jpg" class="img-fluid-top" ><div class="overlay">Ich feiere</div></div>
  <div class="grid-item " style="background-image: url('/images/29.jpg')"><img src="/images/29.jpg" class="img-fluid-top" ><div class="overlay">Mein Ort des Geschehens</div></div>
  <div class="grid-item " style="background-image: url('/images/30.jpg')"><img src="/images/30.jpg" class="img-fluid-top" ><div class="overlay">Ich miete Material</div></div>
</div>
					</div>
				</div>
		    </div>
		</div>
		
			<div class="container-services">
			    
		    <div class="container-service">
				<div class="row section">
					<div class="col-md-6">
						<img src="/images/26.jpg" class="img-fluid" alt="Community illustration">
					</div>
					<div class="col-md-6 col-text">
						<h3 class="pink-color">Über das Blumenfee-Team</h3>
						<br /> <p class="block-text">Ein starkes Team im Dienste Ihrer Hochzeit!<br /><br />

Das Blumenfeeteam entwirft mit Ihnen und für Sie ein Projekt, einen roten Faden, eine Geschichte, die sich nach und nach entwickelt.<br />

Er kümmert sich um die Planung der Location und den finanziellen Teil mit der Erstellung eines individuellen Kostenvoranschlags. Im Laufe des Jahres werden mehrere Termine am Ort des Empfangs und anschließend in der Agentur in Blumenfee organisiert. 
<br /><br />
Das Team begleitet Sie auch bei der Organisation Ihrer Hochzeit und bietet Ihnen Dienstleistungen im Bereich der Veranstaltungsdekoration an.
<br />
Anschließend fährt sie mit dem künstlerischen und kreativen Ansatz fort. Von A bis Z ist dieser Prozess maßgeschneidert und zu 100 % personalisiert, und am Tag X ist Ihre Hochzeit ein Ereignis, das Ihnen ähnelt, an den Veranstaltungsort angepasst ist und außergewöhnliche Erinnerungen hinterlässt!
<br /><br />
Wir freuen uns darauf, mit Ihnen zusammenzuarbeiten und Ihr Dekorationsprojekt zu gestalten!</p>

			
					</div>
				</div>
		    </div>
			</div>

		<!-- Blog section -->
		<div class="container-fluid pink-blue-bg">

		<div class="container">
		    <div class="row section">
				<div class="col-md-12">
					<h3>Die Blumenfee ist auch...</h3>
				</div>

				<!-- Blog Post query goes here. -->
				<div class="col-md-4">
					<div class="box-blog">
						<div class="blog-promoImage" style="background-image:url('/images/33.jpg')"></div>
						<h5 class="pink-color">EVENTS</h5>
						<p class="block-text">Hochzeit, Kommunion, Konfirmation, Taufe, Geburtstag...<br /> 
							Gerne werden wir Sie über die Gestaltungsmöglichkeiten der einzelnen Events auf Anfrage beraten.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box-blog">
						<div class="blog-promoImage" style="background-image:url('/images/17.jpg')"></div>
						<h5 class="pink-color">KIRCHENDEKORATION</h5>
						<p class="block-text">Streukörbe - Streublüten - Ringkissen - Sitzbank-Dekoration - Altargesteck.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box-blog">
						<div class="blog-promoImage" style="background-image:url('/images/31.jpg')"></div>
						<h5 class="pink-color">SAALRDEKORATION</h5>
						<p class="block-text">Sektempfang - Geldvase - Tortentisch - Wegweiser - Brauttisch - Gästetische - Stuhlhussen - Tischdecken - Servietten - Buffet - Stehtische - Lichttechnik - Fotoecke - Gästebuchtisch - Geschenketisch - Bühne.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box-blog">
						<div class="blog-promoImage" style="background-image:url('/images/34.jpg')"></div>
						<h5 class="pink-color">EXCLUSIVE FLORISTIK</h5>
						<p class="block-text">Brautstrauß - Wurfstrauß - Anstecker - Blumensträuße - Armbänder - Haarschmuck.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box-blog">
						<div class="blog-promoImage" style="background-image:url('/images/38.jpg')"></div>
						<h5 class="pink-color">TRAUER</h5>
						<p class="block-text">Gestecke - Sträuße - Dekoration des Abschiedsraumes - Blütenschmuck - Grabgesteck - Ausschmückung der Feierhalle - Schmuck für Urnen.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box-blog">
						<div class="blog-promoImage" style="background-image:url('/images/36.jpg')"></div>
						<h5 class="pink-color">WEITERE DIENSTLEISTUNGEN</h5>
						<p class="block-text">Autoschmuck - Autokorsoschmuck - Auf- & Abbau - Lieferung - Reinigung:</p>
					</div>
				</div>
			</div>
		</div>
			

		</div>

		
	