@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
}

<!DOCTYPE HTML>
		
		<!-- Jumbotron, w title -->
		<div class="jumbotron-clear text-center">
			<div class="container">
				<h1 class="pink-color">Unsere Galerie</h1>
				<h5 class="pink-color">Die Blumenfee,  die Event-Dekoration mit einem großen D!</h5>
			</div>
		</div>

		<!-- Main container -->
		<div class="container-fluid">
		<div class="container-services">
			    
		    <div class="container-service">
				<div class="row section">
				<div class="col-md-12">
                     <div class="elfsight-app-c62e9e54-8701-4f81-8d3d-4ae12e947a91"></div>
				</div>
				</div>
		    </div>
			</div>

		</div>