@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
}

<!DOCTYPE HTML>

		
		<!-- Jumbotron, w title -->
		<div class="jumbotron text-center jumbotron-fluid">
			<div class="container">
				<h1 class="display-1">@Model.Value("pageTitle")</h1>
			</div>
		</div>

		<!-- This is where we're going to render our content -->
		
		<div class="container">

			<div class="row section">
				<div class="col-md-12">

					@Model.Value("bodyText")

				</div>				
			</div>

		</div>
		
		@Model.Value("carousel")
		
		<div class="galerie-container">
		    
		   

		</div>

		<!-- Grey Banner -->
		<div class="container-fluid grey-bg">
			<div class="container">
				<div class="row section">
					<div class="col-md-6">
						<h3>Unser Beruf: Ein breites Spektrum an Dekorationsdienstleistungen für eine persönliche und maßgeschneiderte Veranstaltung</h3>
						<p>Mit 10 Jahren Erfahrung ist Blumenfee im Saarland zu Hause und begleitet Brautpaare bei der Dekoration ihrer Hochzeit, dem Ereignis ihres Lebens...<br /><br />

Die Event-Dekoration mit einem großen D!<br /><br />

Zunächst geht es darum, Sie zu beraten und die Dekoration Ihrer Hochzeit an den Ort, den Rhythmus der Hochzeit und natürlich an das Budget anzupassen.<br /><br />

Im Laufe der Jahre haben wir uns dafür entschieden, verschiedene Leistungen zu integrieren, damit unsere Kunden von A bis Z von einem einzigen Anbieter betreut werden. Blumendesign (Brautstrauß, Armbänder, Kränze, Autodekoration), Dekoration der Zeremonie in einem Gotteshaus oder der laizistischen Zeremonie, Tisch- und Buffetdekoration, Möbel und Loungebereiche, Fotobereiche oder Photocall und maßgeschneiderte Kreation aller großen Hochzeitsklassiker (Tischplan, Urne, Gästebuch, Richtungsschilder...). Zu einer Hochzeit gehört auch das Familientreffen am nächsten Tag, das oft in Form eines Brunchs stattfindet.
<br /><br />
Wir haben auch Angebote, um Sie am großen Tag zu begleiten, mit einem Angebot für Koordination und Wedding planning. Wir führen Sie durch den Ort, den Sie als "Wedding-Destination" wählen.
<br /><br />
Wir kümmern uns um alles, was Ihnen das Leben leichter macht! <br /><br /><a class="more-info" href="/leistungen">WEITERE INFOS</a></p>

			
					</div>
					<div class="row col-md-6">
						<img src="/images/community.png" class="img-fluid" alt="Community illustration">
						<img src="/images/community.png" class="img-fluid" alt="Community illustration">
					</div>
				</div>
			</div>
		</div>
		
			<div class="container-fluid">
			<div class="container">
				<div class="row section">
					<div class="row col-md-6">
						<img src="/images/26.jpg" class="img-fluid" alt="Community illustration">
					</div>
					<div class="col-md-6">
						<h3>Das Blumenfee-Team</h3>
						<p>Ein starkes Team im Dienste Ihrer Hochzeit!<br /><br />

Die Event-Dekoration mit einem großen D!<br /><br />

Die Blumenfee entwirft mit Ihnen und für Sie ein Projekt, einen roten Faden, eine Geschichte, die sich nach und nach entwickelt.<br />

Sie kümmert sich um die Planung der Location und den finanziellen Teil mit der Erstellung eines individuellen Kostenvoranschlags. Im Laufe des Jahres werden mehrere Termine am Ort des Empfangs und anschließend in der Agentur in Blumenfee organisiert. 
<br /><br />
Die Blumenfee begleitet Sie auch bei der Organisation Ihrer Hochzeit und bietet Ihnen Dienstleistungen im Bereich der Veranstaltungsdekoration an.
<br />
Anschließend fährt sie mit dem künstlerischen und kreativen Ansatz fort. Von A bis Z ist dieser Prozess maßgeschneidert und zu 100 % personalisiert, und am Tag X ist Ihre Hochzeit ein Ereignis, das Ihnen ähnelt, an den Veranstaltungsort angepasst ist und außergewöhnliche Erinnerungen hinterlässt!
<br /><br />
Wir freuen uns darauf, mit Ihnen zusammenzuarbeiten und Ihr Dekorationsprojekt zu gestalten!</p>

			
					</div>
				</div>
			</div>
		</div>

		<!-- Blog section -->
		<div class="container">

			<div class="row section">
				<div class="col-md-12">
					<h3>Das Blumenfee-Team</h3>
				</div>

				<!-- Blog Post query goes here. -->
				<div class="col-md-4">
					<div class="box-blog">
						<a href="Blogpost.html"><div class="blog-promoImage" style="background-image:url('/images/u_product_roadmap_white-1.png')"></div></a>
						<h5>Product Update - Deploying Deploy 3.3</h5>
						<p class="blog-meta">January 20th 2020 - by Sofie Toft</p>
						<p>The end of 2019 is approaching and with this, also the last Product Update of the year. 
							Let’s have a look at what we’ve been working on and what you can expect in the near future.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="box-blog">
						<a href="#"><div class="blog-promoImage" style="background-image:url('/images/Press.jpg')"></div></a>
						<h5>Umbraco <3 YouTube</h5>
						<p class="blog-meta">January 20th 2020 - by Sofie Toft</p>
						<p>The end of 2019 is approaching and with this, also the last Product Update of the year. 
							Let’s have a look at what we’ve been working on and what you can expect in the near future.</p>
					</div>
					<a href="#" class="btn btn-inverted">Read more >></a>
				</div>
				<div class="col-md-4">
					<div class="box-blog">
						<a href="#"><div class="blog-promoImage" style="background-image:url('/images/sofie-hammock.jpg')"></div></a>
						<h5>A day in a Documentation Curators life</h5>
						<p class="blog-meta">January 20th 2020 - by Sofie Toft</p>
						<p>The end of 2019 is approaching and with this, also the last Product Update of the year. 
							Let’s have a look at what we’ve been working on and what you can expect in the near future.</p>
					</div>
					<a href="#" class="btn btn-inverted blog-box-btn">Read more >></a>
				</div>
			</div>

		</div>

		<!-- Call to Action -->
		<div class="container-fluid orange-bg">
			<div class="container">

				<div class="row section">
					<div class="col-md-12 text-center">
						<h1>How to continue your Umbraco journey</h1>
						<p>What’s next? We have gathered the 3 best ways for you to go on from here ensuring you get the best start to your Umbraco journey: <br/><br/></p>
						<a href="#" class="btn btn-inverted-orange" role="button">3 ways to start your Umbraco Journey >></a>
					</div>
				</div>
	
			</div>
		</div>
