/* ---------- FONTS ---------- */
@import url('/fonts/forte.otf');

* {
    font-family: 'Lato', Roboto, sans-serif;
}

h2 {
    margin-bottom:20px;
}

p {
    margin: 0 0 20px;
}

/* ---------- BUTTONS ---------- */

.btn-primary {
    background-color: #c14abe;
    padding: .7rem 1.5rem;
    border-radius: 3px;
    border: 2px #c14abe solid;
    color: #fffcff;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #fffcff;
    border: 2px #c14abe solid;
    color: #c14abe;
}

.btn-inverted {
    background-color:white;
    border: 2px #c14abe;
    color: #c14abe;
    border-radius: 3px;
    padding: .7rem 1.5rem;
}

.btn-inverted:hover, .btn-inverted:focus {
    background-color: #c14abe;
    color: white;
}

/* ---------- Structure ---------- */

.section {
    padding: 50px 0;
}

.section .section {
    padding: 30px 0;
}

/* ---------- JUMBOTRON ---------- */

.jumbotron {
    background-color:#261f26;
    margin-bottom: 0;
    color:#fffcff;
}

.jumbotron-clear {
    background-color:#fffcff;
    margin-bottom: 0;
    color:#fffcff;
}

/* ---------- NAVBAR ---------- */
.nav-container{
    background-color: #fffcff;
    border-bottom: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar{
    justify-self: center;
    width: 80%;
    display: flex;
    align-items: center;
    margin: auto;
}

.navbar-brand {
    text-decoration: none;
    color: #c14abe;
    font-family: 'Forte', sans-serif;
    font-size: 65px;
}

.navbar-brand:hover{
    color: #c14abe;
}

.navbar .navbar-nav .nav-link {
    color: #333;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    margin: 0 10px;
}

.navbar .navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link:hover {
    color: #c14abe;
}

.navbar .navbar-nav .nav-link:active {
    color: #c14abe;
    font-weight: bold;
}

.navbar .navbar-nav .nav-link {
    padding: 0;
}

/* ---------- MAIN CONTAINER ---------- */

.pink-color {
    color: #c14abe;
}

.col-text {
    padding-left: 55px;
    padding-right: 55px;
}

.more-info{
    color: #c14abe;
    text-decoration: underline;
}

.container-service{
    width: 80%;
}

.container-services{
    padding: auto 5%;
    align-items: center;
    display: flex;
    justify-content: center;
}

p a:hover, p a:focus {
    color: #c14abe;
}

.light-pink-bg {
    background-color:#f3e5f3;
}

.pink-blue-bg {
    background-color:#fffcff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }
  
  .grid-item {
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: center;
  }

  .img-fluid-top {
    max-width: 100%;
    height: auto;
    opacity: 0;
}

  .overlay, .overlay-1, .overlay-2  {
    position: absolute;
    text-align: center;
    color: #fffcff;
    font-size: larger;
    font-family: 'Forte', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .overlay:hover {
    color: transparent;
    background-color: rgba(0, 0, 0, 0.0);
  }

/* ---------- BLOG on Homepage ---------- */

.blog-promoImage {
    width:100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom:20px;
    border-radius: 3px; 
}

.box-blog {
    padding-top: 30px;
    height:50%;
}


@media (max-width: 992px) {
    .box-blog {
        height:500px;
    }
}

@media (max-width: 768px) {
    .box-blog {
        height:450px;
    }
}

/* ---------- ContactPage ---------- */
.contact-layout{
    background-color: #fffcff;
}

.wrapper{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 3%;
    width: 100%;
    height: 40%;
}
.jumbotron-map{
    background-color: #fffcff;
    border: 3px solid #261f26;
    margin: auto;
    width: 80%;
    height: 40%;
    position: absolute;
    text-align: center;
}

.jumbotron-map iframe{
    width: 100%;
    height: 100%;
}

.contact-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-section{
    width: 70%;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.contact-details{
    width: 70%;
    margin-top: 3%;
    margin-left: 3%;
    align-items: center;
    justify-content: center;
}

.contact-details h3{
    color: #c14abe;
    margin-bottom: 20px;
}

.sidebar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar-links li {
    line-height: 40px;
    font-size: 18px;
}

.sidebar-links h4 {
    margin-bottom: 20px;
}

.sidebar-links li a {
    color: #c14abe;
}

.sidebar-links li a:hover, .sidebar-links li a:focus {
    color: #c14abe;
    text-decoration: none;
}

.container-form{
    max-width:1280px;
    margin:0 auto;
    padding-left:32px;
    padding-right:32px
}
@media (min-width: 768px){
    .container-form{
        padding-left:64px;
        padding-right:64px
    }
}
@media (min-width: 1024px){
    .container-form{
        padding-left:128px;
        padding-right:128px
    }
}
.container-form h1{
    color:#666;
    font-size:36px;
    text-transform:uppercase;
    text-align:center;
    margin-bottom:16px
}
.container-form p{
    color:#888;
    font-size:18px;
    line-height:1.5;
    margin-bottom:32px
}
.container-form form{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:1fr;
    grid-template-columns:1fr;
    grid-gap:16px;
    background-color:#FFF;
    padding:32px;
    border-radius:16px;
    -webkit-box-shadow:0px 6px 12px rgba(0,0,0,0.2);
    box-shadow:0px 6px 12px rgba(0,0,0,0.2)
}
@media (min-width: 768px){
    .container-form form{
        grid-template-columns:repeat(2, 1fr);
    }
}
.container-form form .form-group.full{
    grid-column:1 / -1
}
.container-form form .form-group label{
    display:block;
    margin-bottom:5px;
    color:#333;
    font-size:17px
}
.container-form form .form-group span{
    color:#c14abe;
    font-size:17px
}
.container-form form .form-group .form-element{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline:none;
    border:none;
    display:block;
    width:100%;
    border-radius:8px;
    padding:12px 16px;
    background-color:#F3F3F3;
    -webkit-transition:0.4s;
    transition:0.4s
}
.container-form form .form-group .form-element:focus{
    -webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.2);
    box-shadow:0px 0px 6px rgba(0,0,0,0.2);
    background-color:#FFF
}
.container-form form .form-group textarea{
    resize:none;
    min-height:100px
}
.container-form form .submit-group{
    grid-column:1 / -1;
    text-align:right
}
.container-form form .submit-group input[type="submit"]{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:none;
    outline:none;
    background:none;
    padding:12px 16px;
    background-color:#FF9FDB;
    border-radius:8px;
    color:#FFF;
    cursor:pointer;
    -webkit-transition:0.4s;
    transition:0.4s
}
.container-form form .submit-group input[type="submit"]:hover{
    background-color:#9B75D7
}

/* ---------- IMPRESSUM ---------- */

.impressium{
    background-color: #fffcff;
}

.footer-impressum-container{
    background-color: #212529;
    display: flex;
    justify-content: center;
}

.footer-impressum {
    color: #fffcff;
    width: 80%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

/* ---------- FOOTER ---------- */

.footer {
    background-color: #261f26;
    color: #fffcff;
    width: 100%;
}

.block-text{
	text-align: justify;
	text-align-last: left;
}

.footer-section{
    padding: 50px 0;
}

.footer h4 {
    margin-bottom: 20px;
}

ul.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.footer-links li {
    line-height: 32px;
}

ul.footer-links li a {
    text-decoration: none;
    color: #fffcff;
}

ul.footer-links li a:hover, ul.footer-links li a:focus {
    text-decoration: none;
    color: #c14abe;
}

.footer img {
    width:30%;
}

.footer-copyright{
    padding: 0 15px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
	flex-wrap: wrap;
    margin-top: 50px;
  }

  .footer-copyright-left, .footer-copyright-right{
    display: flex;
    flex-direction: row;
  }

  .impressum, .location{
    font-size: 13px;
    color: #fffcff;
    margin: 0 0 0 5px;
  }

  .location{
    text-decoration: none;
    color: #c14abe;
  }

  .impressum:hover, .location:hover {
    color: #c14abe;
    font-size: 13px;
    text-decoration: underline;
  }
/* ---------- STYLE FOR GRID EDITOR ---------- */

.grid-section .img-fluid img {
    max-width: 100%;
    height: auto;
}

/* ---------- RESPONSIVENESS ---------- */

@media only screen and (max-width: 950px){

    .navbar-brand {
        font-size: 58px;
    }

    .col-md-6 h3{
        word-wrap: break-word;
        font-size: 25px;
    }

    .box-blog p{
        text-align: left;
        text-align-last: left;
    }

    .jumbotron-clear h1 {
        font-size: 32px;
    }

    .grid-container{
        grid-template-columns: repeat(1, auto);
    }
  

}

@media only screen and (max-width: 750px){
    .navbar{
        width: 100%;
    }

    .jumbotron-clear{
        margin-bottom: -18px;
        margin-top: 3px;
    }

    .jumbotron-clear h1, .col-md-6 h3 {
        font-size: 18px;
    }

    .col-md-6 h3, 
    .col-md-12 h3, 
    .contact-details h3{
        font-size: 17px;
    }

    .col-md-12 h3 {
        margin-top: -60px;
    }

    .col-md-6 .about {
        margin-top: 40px;
    }

    .jumbotron-clear h5, 
    .grid-container div,
    .col-md-6 p{
        font-size: 13px;
    }

    .navbar-brand {
        font-size: 30px;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 13px;
        margin: 0 5px;
    }

    .box-blog{
        max-height: 380px;
        margin-top: -45px;
    }

    .col-md-4 h5, .impressium h3{
        font-size: 14px;
    }

    .col-md-4 p, 
    .contact-details p,
    .impressium p{
        font-size: 12px;
    }

    .contact-details{
        margin-top: 30px;
    }

    .impressium h3{
        margin-top: 0;
    }
    
    .impressium h1{
        font-size: 20px;
    }

    .footer-impressum-container .footer-impressum{
        margin-top: -20px;
        width: 100%;
    }

    .footer-copyright, 
    .impressum, .location, 
    .impressum:hover, 
    .location:hover{
        font-size: 11px;
    }

    .footer-links{
        font-size: 13px;
    }

    .footer h5 {
        font-size: 15px;
        margin-top: 25px;
    }

    .footer .col-md-4, .footer-copyright{
        margin-left: 22px;
        margin-right: 22px;
    }

}

@media only screen and (max-width: 380px){

    .navbar-brand {
        font-size: 28px;
    }

    .jumbotron-clear h1, .col-md-6 h3 {
        font-size: 16px;
    }

    .col-md-6 h3, 
    .col-md-12 h3, 
    .contact-details h3{
        font-size: 15px;
    }

    .col-md-12 h3 {
        margin-top: -60px;
    }

    .col-md-6 .about {
        margin-top: 40px;
    }

    .jumbotron-clear h5, 
    .grid-container div,
    .col-md-6 p{
        font-size: 11px;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 11px;
        margin: 0 5px;
    }

    .box-blog{
        max-height: 380px;
        margin-top: -45px;
    }

    .col-md-4 h5, .impressium h3{
        font-size: 13px;
    }

    .col-md-4 p, 
    .contact-details p,
    .impressium p{
        font-size: 11px;
    }

    .contact-details{
        margin-top: 30px;
    }

    .impressium h3{
        margin-top: 0;
    }
    
    .impressium h1{
        font-size: 20px;
    }

    .footer-impressum-container .footer-impressum{
        margin-top: -20px;
        width: 100%;
    }

    .footer-copyright, 
    .impressum, .location, 
    .impressum:hover, 
    .location:hover{
        font-size: 10px;
    }

    .footer-links{
        font-size: 11px;
    }

    .footer h5 {
        font-size: 13px;
        margin-top: 25px;
    }

    .footer .col-md-4, .footer-copyright{
        margin-left: 22px;
        margin-right: 22px;
    }

  

}

@media only screen and (max-width: 350px){

    .navbar-brand {
        font-size: 22px;
    }

    .jumbotron-clear h1, .col-md-6 h3 {
        font-size: 15px;
    }

    .col-md-6 h3, 
    .col-md-12 h3, 
    .contact-details h3{
        font-size: 14px;
    }

    .col-md-12 h3 {
        margin-top: -60px;
    }

    .col-md-6 .about {
        margin-top: 40px;
    }

    .jumbotron-clear h5, 
    .grid-container div,
    .col-md-6 p{
        font-size: 10px;
    }

    .navbar .navbar-nav .nav-link {
        font-size: 11px;
        margin: 0 5px;
    }

    .box-blog{
        max-height: 380px;
        margin-top: -45px;
    }

    .col-md-4 h5, .impressium h3{
        font-size: 12px;
    }

    .col-md-4 p, 
    .contact-details p,
    .impressium p{
        font-size: 10px;
    }

    .contact-details{
        margin-top: 30px;
    }

    .impressium h3{
        margin-top: 0;
    }
    
    .impressium h1{
        font-size: 18px;
    }

    .footer-impressum-container .footer-impressum{
        margin-top: -20px;
        width: 100%;
    }

    .footer-copyright, 
    .impressum, .location, 
    .impressum:hover, 
    .location:hover{
        font-size: 9px;
    }

    .footer-links{
        font-size: 10px;
    }

    .footer h5 {
        font-size: 12px;
        margin-top: 25px;
    }

    .footer .col-md-4, .footer-copyright{
        margin-left: 22px;
        margin-right: 22px;
    }

  

}
